player-connection-mode=Listen
player-connection-guid=3598927828
player-connection-debug=0
player-connection-project-name=TableTennisAI
player-connection-ip=172.28.96.1
player-connection-ip=26.4.156.92
player-connection-ip=192.168.65.1
player-connection-ip=192.168.137.1
player-connection-ip=192.168.224.1
player-connection-ip=10.13.13.90
player-connection-ip=192.168.50.181
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=34cbccf0fe734ee99c408af24527f3a7
